<div class="min-h-screen px-6 py-8 bg-white">
  <div class="flex flex-wrap justify-center mt-12">

    <div class="w-full text-center mb-8">
      <h2 class="text-2xl font-semibold my-2">
        <i class="far fa-bookmark" style="color: #000000;"></i>
        ブックマーク
      </h2>
    </div>

    <% @category_bookmarks.each do |category, bookmarks| %>
      <div class="w-full mb-10 mt-8">
        <div class="flex justify-between items-center border-b-2 border-gray-200 py-4">
          <h3 class="text-xl font-bold text-black"><%= category.name %></h3> <!-- ここを修正しました -->
          <span class="text-gray-500"><%= bookmarks.count %> bookmarks</span>
        </div>
      
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mb-10">
          <% bookmarks.each do |bookmark| %>
            <%= link_to template_path(bookmark.template), class: "bg-white rounded-lg shadow sm:max-w-xl transition-transform duration-500 ease-in-out hover:scale-105", style: "text-decoration: none;" do %>
              <div class="p-6 space-y-4 sm:p-8">
                <h3 class="text-lg font-bold text-blue-500 hover:text-blue-600">
                  <%= bookmark.template.title %>
                </h3>
                <p class="mt-2 text-gray-600"><%= bookmark.template.description %></p>
                <!-- 「いいね数」を表示 -->
                <p><%= bookmark.template.likes_count %> likes</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
