<section class="bg-white">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">Templates</h2>

    <% if @category %>
      <h2 class="text-2xl font-semibold my-2">Category: <%= @category.name %></h2>
    <% end %>

    <% @templates.each do |template| %>
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-xl xl:p-0 my-4">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h3 class="text-xl font-bold"><%= template.title %></h3>
          <p class="mt-2 text-gray-600"><%= template.description %></p>
          <p class="mt-2"><%= template.content %></p>
        </div>
      </div>
    <% end %>

    <div class="mt-8">
      <h2 class="text-2xl font-semibold my-2">Categories</h2>
      <% Category.all.each do |category| %>
        <%= link_to category.name, templates_path(category_id: category.id), class: "inline-block bg-blue-500 text-white rounded-full px-4 py-2 m-2 transition-colors duration-300 ease-in-out hover:bg-blue-600" %>
      <% end %>
    </div>
  </div>
</section>
