<%# app/views/templates/show.html.erb %>
<%= turbo_frame_tag 'templates' do %>
<section class="min-h-screen px-6 py-8 bg-white" data-controller="copy">
  <!-- カテゴリー一覧 -->
  <div class="mt-4">
    <%= render partial: 'categories/category_list' %>
  </div>

  <!-- 視覚的な区切りのためのスペース -->
  <div class="py-6"></div>

  <div class="flex flex-wrap justify-center">
    <div class="w-full mt-0">
      <!-- タイトルに背景色を追加し、テキストサイズを大きくします。 -->
      <h2 class="text-4xl font-bold my-6 bg-blue-200 p-3 text-center rounded-lg shadow-lg"><%= @template.title %></h2>

      <!-- ユーザーアクション -->
      <div class="flex justify-between items-center mt-4">
        <div class="text-gray-600 text-lg font-semibold">GPT-4推奨 <%= @template.importance %></div>
        <div class="flex space-x-4">
          <!-- いいねボタン -->
          <%= turbo_frame_tag dom_id(@template, :like) do %>
            <% if logged_in? %>
              <% if @template.liked_by?(current_user) %>
                <%= render 'likes/unlike', template: @template, like: @like %>
              <% else %>
                <%= render 'likes/like', template: @template %>
              <% end %>
            <% else %>
              <%= render 'likes/static_like', template: @template %>
            <% end %>
          <% end %>

         <!-- ブックマークボタン -->
          <% if logged_in? %>
            <% if @bookmark %>
              <%= turbo_frame_tag dom_id(@template, :bookmark) do %>
                <%= render 'bookmarks/unbookmark', bookmark: @bookmark, template: @template %>
              <% end %>
            <% else %>
              <%= turbo_frame_tag dom_id(@template, :bookmark) do %>
                <%= render 'bookmarks/bookmark', template: @template %>
              <% end %>
            <% end %>
          <% end %>
          
          <!-- 省略 -->

      <!-- 視覚的な区切りのためのスペース -->
      <div class="py-6"></div>
  </section>
<% end %>
