<div class="w-full max-w-7xl bg-gray-100" data-controller="header">
  <div class="flex flex-col max-w-screen-xl p-5 mx-auto justify-between md:items-center md:flex-row md:px-6 lg:px-8" data-controller="menu">
    <div class="flex justify-between w-full lg:w-auto">
      <div class="flex justify-between w-full md:w-auto">
        <%= link_to 'PromptShare', root_path, class: 'text-lg font-bold tracking-tighter text-blue-600 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8' %>
        <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" data-action="click->menu#toggle">
          <!-- Your SVG icons here -->
        </button>
      </div>

      <nav class="flex items-center flex-grow pb-4 md:flex md:justify-start md:flex-row lg:border-l-2 lg:pl-2" data-menu-target="nav">
        <a class="px-4 py-2 mt-2 text-sm text-gray-500 md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline" href="#">プロンプトとは？</a>
        <%= link_to '投稿', new_template_path ,class: 'px-4 py-2 mt-2 text-sm text-gray-500 md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline'%>
      </nav>
    </div>
    
    <div class="flex justify-center w-full lg:w-auto">
      <%= search_form_for @q, url: search_path, method: :get do |f| %>
        <%= f.search_field :name_or_content_cont, class: "px-3 py-2 mt-2 text-sm text-gray-500 md:mt-0", placeholder: "Search Templates..." %>
        <%= f.submit '検索', class: "ml-2 px-3 py-2 mt-2 text-sm bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline" %>
      <% end %>
    </div>

    <% if logged_in? %>
      <div class="relative inline-block text-left ml-auto" data-controller="dropdown">
        <div class="h-full w-full text-gray-500">
          <span class="rsttop-headline-humberger"></span>
          <span class="inline-block h-[2.375rem] w-[2.375rem] bg-gray-100 rounded-full overflow-hidden" data-action="click->dropdown#toggle">
            <svg class="h-full w-full text-gray-300" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.62854" y="0.359985" width="15" height="15" rx="7.5" fill="white"/>
              <path d="M8.12421 7.20374C9.21151 7.20374 10.093 6.32229 10.093 5.23499C10.093 4.14767 9.21151 3.26624 8.12421 3.26624C7.0369 3.26624 6.15546 4.14767 6.15546 5.23499C6.15546 6.32229 7.0369 7.20374 8.12421 7.20374Z" fill="currentColor"/>
              <path d="M11.818 10.5975C10.2992 12.6412 7.42106 13.0631 5.37731 11.5537C5.01171 11.2818 4.69296 10.9631 4.42107 10.5975C4.28982 10.4006 4.27107 10.1475 4.37419 9.94123L4.51482 9.65059C4.84296 8.95684 5.53671 8.51624 6.30546 8.51624H9.95231C10.7023 8.51624 11.3867 8.94749 11.7242 9.62249L11.8742 9.93184C11.968 10.1475 11.9586 10.4006 11.818 10.5975Z" fill="currentColor"/>
            </svg>
          </span>
          <div data-dropdown-target="menu" class="dropdown">
            <%= render 'shared/dropdown' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="inline-flex items-center gap-2 list-none ml-auto">
        <%= link_to 'ログイン', login_path, class: 'items-center block px-10 py-2.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500' %>
        <%= link_to '新規登録', new_user_path, class: 'items-center block px-10 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
      </div>
    <% end %>
  </div>
</div>
