<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
<head>
  <title>PromptTemplateApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags "application" %>
</head>

<body class="bg-gray-100">
  <%= render 'shared/header' %>

    <ul class="flex items-center">
      <li>
        <!-- Placeholder for login/logout -->
      </li>
    </ul>
  </nav>
  <%= yield %>
  <%= render 'shared/footer' %>
    <!-- Footer content here -->
  </footer>
</body>
</html>
